* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

header {
  z-index: 999;
  max-width: 100%;
  width: 100%;
  position: fixed;
  height: auto;
  padding: 10px;
  background: #37403A;
  box-shadow: 1px 1px 10px rgba(0,0,0,.75);

  * {
	color: #FFFDF6 !important;
	font-weight: 700;
  }

  .navbar {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
	align-items: center;

	.icon {
		.menuToggle {
			display: none;
			&:checked ~ label .hamburguer {
				transform: rotate(45deg);

				&::before{
					transform: rotate(90deg);
					top: 0;
				}
				&::after{
					transform: rotate(90deg);
					top: 0;
				}
			}
		}
		
		.icon-burguer {
			padding: 10px;
			cursor: pointer;
		}

		.hamburguer {
		  position: relative;
		  display: block;
		  background: #FFFDF6;
		  width: 30px;
		  height: 2px;
		  margin: 15px 10px;
		  transition: 0.5s ease-in-out;
	
		  &::after,
		  &::before {
			background: #FFFDF6;
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			transition: 0.5s ease-in-out;
		  }
	
		  &:before {
			top: -10px;
		  }
	
		  &:after {
			bottom: -10px;
		  }
	
		}
	}

    .menu-items {
      display: flex;
      list-style-type: none;

      li {
        padding: 0 20px;
      }

    }

	.user {
		margin: 0 40px;

		p > a {
			text-decoration: none;

			&:hover {
				color: #F2A922 !important;
			}
		}
	}
  }
}

.menuOn {
	position: absolute;
	left: 0 !important;
}

.menuOff {
	position: absolute;
	left: -500px !important;
}

.menu {

	* {
		color: #FFFDF6;
	}

	position: absolute;
	z-index: 1;
	left: -500px;
	background:#262223;
	height: 100%;
	padding: 0 70px;
	transition: .5s ease-in-out;
	.items {
		ul {
			display: flex;
			flex-direction: column;
			list-style-type: none;
			
			li {
				margin: 20px;
			}
		}
	}
}

@media screen and(max-width: 760px) {
	header {
		.navbar {
			.menu-items {
				display: none;
			}
		}
	}
}