/* Color Theme Swatches in Hex */
.Violet-Tema-1-hex { color: #13244A; }
.Violet-Tema-2-hex { color: #6B40DB; }
.Violet-Tema-3-hex { color: #AF41FF; }
.Violet-Tema-4-hex { color: #E841DA; }
.Violet-Tema-5-hex { color: #FFFDF6; }

/* Color Theme Swatches in RGBA */
.Violet-Tema-1-rgba { color: rgba(18, 35, 73, 1); }
.Violet-Tema-2-rgba { color: rgba(107, 63, 219, 1); }
.Violet-Tema-3-rgba { color: rgba(175, 65, 255, 1); }
.Violet-Tema-4-rgba { color: rgba(232, 65, 218, 1); }
.Violet-Tema-5-rgba { color: rgba(255, 253, 246, 1); }

/* Color Theme Swatches in HSLA */
.Violet-Tema-1-hsla { color: hsla(221, 59, 18, 1); }
.Violet-Tema-2-hsla { color: hsla(256, 68, 55, 1); }
.Violet-Tema-3-hsla { color: hsla(274, 100, 62, 1); }
.Violet-Tema-4-hsla { color: hsla(305, 78, 58, 1); }
.Violet-Tema-5-hsla { color: hsla(46, 100, 98, 1); }